<div
  class="post-card w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form id="new-post-form" class="post-header space-y-6">
    <h5 class="text-xl font-medium text-gray-900 dark:text-white">Create New
      Post</h5>
    <div>
      <label
        for="post-title"
        class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Title</label>
      <input
        type="text"
        name="post-title"
        class="form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
      />
    </div>
    <div>
      <label
        for="post-body"
        class="form-label block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Content</label>
      <textarea
        name="post-body"
        class="form-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >Create Post</button>
  </form>
</div>

<script src="/js/newBlog.js"></script>